.gradle
build
!gradle-wrapper.jar

.idea
*.iml
*.ipr
*.iws
classes
out

.classpath
.settings
.project
bin
org.eclipse.jdt.groovy.core.prefs
org.eclipse.buildship.core.prefs

.DS_Store
node_modules
bower_components
jspm_packages
*.log
dist

_artifacts
Thumbs.db

generated

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/config.yml
