.container {
    margin-top: 10px;
    margin-left: 40%;
    width: 25%;
}

.row {
    display: flex;
}

.label {
    font-size: 18px;
    flex: 0.5;
}

.info {
    font-size: 18px;
    font-weight: 900;
    flex: 0.5;
}
